body {
  background: #40e0d0;
  color:navy;
  font-family: sfpro, roboto, system-ui, sans-serif;
  margin: 2em;
}

img {
  max-width: 100%;
}
nav {
  background: rgba(255,255,255,0.75);
  background-color: #FFFFFF80;
  display: flex;
  direction: row-reverse;
}

nav a.active {
  background: white;
}

nav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  justify-content: center;
}

nav a:hover {
  background: rgba(255,255,255,0.75);
}

a {
  color: navy;
  font-weight: bold;
}

.primary-navigation {
  background-color: navy;
  color: black;
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
}

.primary-navigation a {
  color: black;
  padding: 20px;
  text-decoration: none;
  background-color: #FF9060;
}

.primary-navigation a.active {
  background-color: white;
}

.center {
  text-align: center
}

.cards {
  overflow: auto;
}

.card {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 1),
              inset 4px -4px 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: solid 10px white;
  margin: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
  border-radius: 20px 20px 20px 20px;
  flex-basis: 1;
}

.cardgroup {
  background: rgba(255, 0, 0, 0.5);
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.card:hover {
  box-shadow: 0 3px 0 6px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}
