body {
  background: #40e0d0;
  color:navy;
  font-family: sfpro, roboto, system-ui, sans-serif;
}

img {
  max-width: 100%;
}
nav {
  background: rgba(255,255,255,0.75);
  background: #FFFFFF80;
  display: flex;
  direction: row-reverse;
}

nav a.active {
  background: white;
}

nav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  justify-content: center;
}

nav a:hover {
  background: rgba(255,255,255,0.75);
}

a {
  color: navy;
  font-weight: bold;
}

.primary-navigation {
  background-color: navy;
  color: black;
  padding: 20px;
}

.primary-navigation a {
  color: black;
  padding: 20px;
  text-decoration: none;
  background-color: #FF9060;
}

.primary-navigation a.active {
  background-color: white;
}

.center {
  text-align: center
}

.cards {
  overflow: auto;

}

.cardgroup {
  background: . rgba(255, 0, 0, 0.5);
  padding: 10%;
  margin: 10%;
  float: left;
  width: 46%;
  display: flex;
}
