body {
  background: #40e0d0;
  color:navy;
  font-family: sfpro, roboto, system-ui, sans-serif;
}

nav {
  background: rgba(255,255,255,0.75);
  background: #FFFFFF80;
  display: flex;
  direction: row-reverse;
}

nav a.active {
  background: white:
}

a {
  color: navy;
  font-weight: bold;
}

.primary-navigation {
  background-color: salmon;
  color: black;
  padding: 20px;
}

.primary-navigation a {
  color: black;
  padding: 20px;
  text-decoration: none;
  background-color: #663399;
}

.primary-navigation a.active {
  background-color: white;
}
